#header {
  width: 100%;
  height: 50vh;
  color: #ffffff;
  z-index: -1;
}
.bg {
  background: rgb(230, 107, 107);
  background: linear-gradient(
    45deg,
    rgba(230, 107, 107, 0.9) 0%,
    rgba(163, 215, 232, 0.8) 49%,
    rgba(204, 112, 213, 0.7) 100%
  );
}
.header-img {
  /* margin-top: -5%; */
  width: 400px;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.header-name {
  font-size: 55px;
  font-weight: 700px;
}
.header-paragraph {
  font-size: 16px;
  font-weight: 400;
}
.header-description {
  margin-left: 30px;
}
