#sidebar {
  background: #ffffff;
  height: 100vh;
  /* position: fixed; */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  color: var(--light);
}
.sidebar-heading {
  font-weight: 700;
  font-size: 13px;
}
.nav-link {
  padding: 0;
  margin: 15px 0;
  font-weight: 500;
}
#playlists {
  position: relative;
}

.add-btn {
  position: absolute;
  top: -10px;
  right: 0;
  background: var(--pink);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.25);
}
.add-btn:hover {
  opacity: 0.9;
}

#active-nav {
  color: var(--pink) !important;
}
