:root {
  --pink: #ca2050;
  --darkPink: #8d0c31;
  --purple: #6a2c70;
  --black: #1b262c;
  --light: #525252;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* background: rgb(221, 221, 221); */
  background: rgba(2, 37, 13, 0.07);
  /* background: linear-gradient(
    90deg,
    rgba(219, 224, 219, 1) 44%,
    rgba(235, 235, 235, 1) 54%,
    rgba(231, 231, 231, 1) 72%
  ); */
}
