:root {
  --pink: #f10044;
  --darkPink: #8d0c31;
  --purple: #6a2c70;
  --black: #1b262c;
  --light: #525252;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* background: rgb(221, 221, 221); */
  background: rgba(2, 37, 13, 0.07);
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red !important;
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

.main-heading {
  font-size: 26px;
  font-weight: 600;
}
